<%- include("partials/header2.ejs"); -%>
    <div class="page-wrapper bg-grey p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"><img class="image" src="img/truck2.jpg"></div>
                <div class="card-body new">
                  <div style="text-align: center;">

                    <img src="img/profile-user.png" style=" max-width: 20%; border-radius:100%;"><br>
                    <h2 class="title">Sign In</h2>


                    <form method="POST">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="NAME" name="name">
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="password" placeholder="PASSWORD" name="password">
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Sign In</button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  <%- include("partials/footer2.ejs"); -%>
